In [ ]:
import pandas as pd

In [ ]:
url = 'https://raw.githubusercontent.com/wtitze/3E/main/EntriesGender.xlsx'
athlets = pd.read_excel(url)
athlets

               Discipline  Female  Male  Total
0          3x3 Basketball      32    32     64
1                 Archery      64    64    128
2     Artistic Gymnastics      98    98    196
3       Artistic Swimming     105     0    105
4               Athletics     969  1072   2041
5               Badminton      86    87    173
6       Baseball/Softball      90   144    234
7              Basketball     144   144    288
8        Beach Volleyball      48    48     96
9                  Boxing     102   187    289
10           Canoe Slalom      41    41     82
11           Canoe Sprint     123   126    249
12  Cycling BMX Freestyle      10     9     19
13     Cycling BMX Racing      24    24     48
14  Cycling Mountain Bike      38    38     76
15           Cycling Road      70   131    201
16          Cycling Track      90    99    189
17                 Diving      72    71    143
18             Equestrian      73   125    198
19                Fencing     107   108    215
20               Football     264   344    608
21                   Golf      60    60    120
22               Handball     168   168    336
23                 Hockey     192   192    384
24                   Judo     192   201    393
25                 Karate      40    42     82
26      Marathon Swimming      25    25     50
27      Modern Pentathlon      36    36     72
28    Rhythmic Gymnastics      96     0     96
29                 Rowing     257   265    522
30           Rugby Sevens     146   151    297
31                Sailing     175   175    350
32               Shooting     178   178    356
33          Skateboarding      40    40     80
34         Sport Climbing      20    20     40
35                Surfing      20    20     40
36               Swimming     361   418    779
37           Table Tennis      86    86    172
38              Taekwondo      65    65    130
39                 Tennis      94    97    191
40  Trampoline Gymnastics      16    16     32
41              Triathlon      55    55    110
42             Volleyball     144   144    288
43             Water Polo     122   146    268
44          Weightlifting      98    99    197
45              Wrestling      96   193    289

In [ ]:
athlets.drop(columns='Total')

               Discipline  Female  Male  Percentuale
0          3x3 Basketball      32    32     0.565571
1                 Archery      64    64     1.131142
2     Artistic Gymnastics      98    98     1.732061
3       Artistic Swimming     105     0     0.927890
4               Athletics     969  1072    18.036409
5               Badminton      86    87     1.528809
6       Baseball/Softball      90   144     2.067869
7              Basketball     144   144     2.545069
8        Beach Volleyball      48    48     0.848356
9                  Boxing     102   187     2.553906
10           Canoe Slalom      41    41     0.724638
11           Canoe Sprint     123   126     2.200424
12  Cycling BMX Freestyle      10     9     0.167904
13     Cycling BMX Racing      24    24     0.424178
14  Cycling Mountain Bike      38    38     0.671615
15           Cycling Road      70   131     1.776246
16          Cycling Track      90    99     1.670201
17                 Diving      72    71     1.263697
18             Equestrian      73   125     1.749735
19                Fencing     107   108     1.899965
20               Football     264   344     5.372923
21                   Golf      60    60     1.060445
22               Handball     168   168     2.969247
23                 Hockey     192   192     3.393425
24                   Judo     192   201     3.472959
25                 Karate      40    42     0.724638
26      Marathon Swimming      25    25     0.441852
27      Modern Pentathlon      36    36     0.636267
28    Rhythmic Gymnastics      96     0     0.848356
29                 Rowing     257   265     4.612937
30           Rugby Sevens     146   151     2.624602
31                Sailing     175   175     3.092966
32               Shooting     178   178     3.145988
33          Skateboarding      40    40     0.706964
34         Sport Climbing      20    20     0.353482
35                Surfing      20    20     0.353482
36               Swimming     361   418     6.884058
37           Table Tennis      86    86     1.519972
38              Taekwondo      65    65     1.148816
39                 Tennis      94    97     1.687876
40  Trampoline Gymnastics      16    16     0.282785
41              Triathlon      55    55     0.972075
42             Volleyball     144   144     2.545069
43             Water Polo     122   146     2.368328
44          Weightlifting      98    99     1.740898
45              Wrestling      96   193     2.553906

1. visualizzare il numero di atleti maschi del nuoto

In [ ]:
athlets[athlets['Discipline'] == 'Swimming'].Male

36    418
Name: Male, dtype: int64

2. visualizzare le discipline con meno di 100 atleti donne

In [ ]:
athlets[athlets['Female']<100].Discipline

0            3x3 Basketball
1                   Archery
2       Artistic Gymnastics
5                 Badminton
6         Baseball/Softball
8          Beach Volleyball
10             Canoe Slalom
12    Cycling BMX Freestyle
13       Cycling BMX Racing
14    Cycling Mountain Bike
15             Cycling Road
16            Cycling Track
17                   Diving
18               Equestrian
21                     Golf
25                   Karate
26        Marathon Swimming
27        Modern Pentathlon
28      Rhythmic Gymnastics
33            Skateboarding
34           Sport Climbing
35                  Surfing
37             Table Tennis
38                Taekwondo
39                   Tennis
40    Trampoline Gymnastics
41                Triathlon
44            Weightlifting
45                Wrestling
Name: Discipline, dtype: object

3. aggiungere una colonna contenente il numero totale di atleti di ogni disciplina. Chiamare la colonna “Total”

In [ ]:
athlets['Total'] = athlets['Female'] + athlets['Male']
athlets

               Discipline  Female  Male  Total  Percentuale
0          3x3 Basketball      32    32     64     0.565571
1                 Archery      64    64    128     1.131142
2     Artistic Gymnastics      98    98    196     1.732061
3       Artistic Swimming     105     0    105     0.927890
4               Athletics     969  1072   2041    18.036409
5               Badminton      86    87    173     1.528809
6       Baseball/Softball      90   144    234     2.067869
7              Basketball     144   144    288     2.545069
8        Beach Volleyball      48    48     96     0.848356
9                  Boxing     102   187    289     2.553906
10           Canoe Slalom      41    41     82     0.724638
11           Canoe Sprint     123   126    249     2.200424
12  Cycling BMX Freestyle      10     9     19     0.167904
13     Cycling BMX Racing      24    24     48     0.424178
14  Cycling Mountain Bike      38    38     76     0.671615
15           Cycling Road      70   131    201     1.776246
16          Cycling Track      90    99    189     1.670201
17                 Diving      72    71    143     1.263697
18             Equestrian      73   125    198     1.749735
19                Fencing     107   108    215     1.899965
20               Football     264   344    608     5.372923
21                   Golf      60    60    120     1.060445
22               Handball     168   168    336     2.969247
23                 Hockey     192   192    384     3.393425
24                   Judo     192   201    393     3.472959
25                 Karate      40    42     82     0.724638
26      Marathon Swimming      25    25     50     0.441852
27      Modern Pentathlon      36    36     72     0.636267
28    Rhythmic Gymnastics      96     0     96     0.848356
29                 Rowing     257   265    522     4.612937
30           Rugby Sevens     146   151    297     2.624602
31                Sailing     175   175    350     3.092966
32               Shooting     178   178    356     3.145988
33          Skateboarding      40    40     80     0.706964
34         Sport Climbing      20    20     40     0.353482
35                Surfing      20    20     40     0.353482
36               Swimming     361   418    779     6.884058
37           Table Tennis      86    86    172     1.519972
38              Taekwondo      65    65    130     1.148816
39                 Tennis      94    97    191     1.687876
40  Trampoline Gymnastics      16    16     32     0.282785
41              Triathlon      55    55    110     0.972075
42             Volleyball     144   144    288     2.545069
43             Water Polo     122   146    268     2.368328
44          Weightlifting      98    99    197     1.740898
45              Wrestling      96   193    289     2.553906

4. visualizzare la nazione che ha più atleti (in totale)

In [ ]:
athlets[athlets['Total'] == athlets['Total'].max()]['Discipline']

4    Athletics
Name: Discipline, dtype: object

5. visualizzare il numero totale di atleti

In [ ]:
totale = athlets['Total'].sum()
totale

11316

6. aggiungere una colonna contenente la percentuale di atleti di ogni disciplina rispetto al totale. Chiamare la colonna “Percentuale”

In [ ]:
athlets['Percentuale'] = athlets['Total'] / totale * 100
athlets

               Discipline  Female  Male  Total  Percentuale
0          3x3 Basketball      32    32     64     0.565571
1                 Archery      64    64    128     1.131142
2     Artistic Gymnastics      98    98    196     1.732061
3       Artistic Swimming     105     0    105     0.927890
4               Athletics     969  1072   2041    18.036409
5               Badminton      86    87    173     1.528809
6       Baseball/Softball      90   144    234     2.067869
7              Basketball     144   144    288     2.545069
8        Beach Volleyball      48    48     96     0.848356
9                  Boxing     102   187    289     2.553906
10           Canoe Slalom      41    41     82     0.724638
11           Canoe Sprint     123   126    249     2.200424
12  Cycling BMX Freestyle      10     9     19     0.167904
13     Cycling BMX Racing      24    24     48     0.424178
14  Cycling Mountain Bike      38    38     76     0.671615
15           Cycling Road      70   131    201     1.776246
16          Cycling Track      90    99    189     1.670201
17                 Diving      72    71    143     1.263697
18             Equestrian      73   125    198     1.749735
19                Fencing     107   108    215     1.899965
20               Football     264   344    608     5.372923
21                   Golf      60    60    120     1.060445
22               Handball     168   168    336     2.969247
23                 Hockey     192   192    384     3.393425
24                   Judo     192   201    393     3.472959
25                 Karate      40    42     82     0.724638
26      Marathon Swimming      25    25     50     0.441852
27      Modern Pentathlon      36    36     72     0.636267
28    Rhythmic Gymnastics      96     0     96     0.848356
29                 Rowing     257   265    522     4.612937
30           Rugby Sevens     146   151    297     2.624602
31                Sailing     175   175    350     3.092966
32               Shooting     178   178    356     3.145988
33          Skateboarding      40    40     80     0.706964
34         Sport Climbing      20    20     40     0.353482
35                Surfing      20    20     40     0.353482
36               Swimming     361   418    779     6.884058
37           Table Tennis      86    86    172     1.519972
38              Taekwondo      65    65    130     1.148816
39                 Tennis      94    97    191     1.687876
40  Trampoline Gymnastics      16    16     32     0.282785
41              Triathlon      55    55    110     0.972075
42             Volleyball     144   144    288     2.545069
43             Water Polo     122   146    268     2.368328
44          Weightlifting      98    99    197     1.740898
45              Wrestling      96   193    289     2.553906

In [ ]:
url2 = 'https://raw.githubusercontent.com/wtitze/3E/main/Coaches.xlsx'
coaches = pd.read_excel(url2)
coaches

                       Name  ...  Event
0           ABDELMAGID Wael  ...    NaN
1                 ABE Junya  ...    NaN
2             ABE Katsuhiko  ...    NaN
3              ADAMA Cherif  ...    NaN
4                AGEBA Yuya  ...    NaN
..                      ...  ...    ...
389  ZAMORA PEDREIRA Javier  ...    NaN
390      ZAMPIERI Francesca  ...   Duet
391          ZHANG Xiaohuan  ...    NaN
392              ZIJP Simon  ...    NaN
393           ZONDI Nkuliso  ...  Women

[394 rows x 4 columns]

In [ ]:
coaches = coaches.drop(columns=['Event'])
coaches

                       Name                         NOC         Discipline
0           ABDELMAGID Wael                       Egypt           Football
1                 ABE Junya                       Japan         Volleyball
2             ABE Katsuhiko                       Japan         Basketball
3              ADAMA Cherif               Côte d'Ivoire           Football
4                AGEBA Yuya                       Japan         Volleyball
..                      ...                         ...                ...
389  ZAMORA PEDREIRA Javier                       Spain         Basketball
390      ZAMPIERI Francesca               Liechtenstein  Artistic Swimming
391          ZHANG Xiaohuan  People's Republic of China  Artistic Swimming
392              ZIJP Simon                 Netherlands             Hockey
393           ZONDI Nkuliso                South Africa             Hockey

[394 rows x 3 columns]

1. visualizzare il numero di allenatori per ogni nazione. Ordinare in ordine decrescente a partire dalla nazione che ha più allenatori.

In [ ]:
coaches.groupby('NOC')['Name'].count().sort_values(ascending=False)

NOC
Japan                       35
United States of America    28
Spain                       28
Australia                   22
Canada                      16
                            ..
Belarus                      1
Portugal                     1
Croatia                      1
Liechtenstein                1
Angola                       1
Name: Name, Length: 61, dtype: int64

2. visualizzare il numero di allenatori per ogni  disciplina. Ordinare in ordine decrescente in base alla disciplina in cui ci sono più allenatori

In [ ]:
coaches.groupby('Discipline')['Name'].count().sort_values(ascending=False)

Discipline
Basketball           74
Artistic Swimming    69
Football             59
Volleyball           45
Hockey               45
Handball             29
Baseball/Softball    26
Rugby Sevens         25
Water Polo           22
Name: Name, dtype: int64

3. visualizzare il nome della nazione che ha portato più allenatori

In [ ]:
coaches[coaches['Name'] == coaches['Name'].max()]['NOC']

365    United States of America
Name: NOC, dtype: object

4. visualizzare il nome delle nazioni che hanno portato più allenatori rispetto alla media

In [ ]:
coaches1 = coaches.groupby('NOC')['Name'].count()
coaches1[coaches1 > coaches1.mean()]

NOC
Argentina                     11
Australia                     22
Brazil                         7
Canada                        16
Egypt                         12
France                        10
Germany                        9
Great Britain                  7
Italy                         14
Japan                         35
Mexico                         8
Netherlands                   10
New Zealand                    8
Nigeria                        9
People's Republic of China    12
ROC                           12
Republic of Korea              7
South Africa                  12
Spain                         28
United States of America      28
Venezuela                     10
Name: Name, dtype: int64

5. eliminare la colonna “Name”

In [ ]:
coaches = coaches.drop(columns='Name')
coaches

                            NOC         Discipline
0                         Egypt           Football
1                         Japan         Volleyball
2                         Japan         Basketball
3                 Côte d'Ivoire           Football
4                         Japan         Volleyball
..                          ...                ...
389                       Spain         Basketball
390               Liechtenstein  Artistic Swimming
391  People's Republic of China  Artistic Swimming
392                 Netherlands             Hockey
393                South Africa             Hockey

[394 rows x 2 columns]

6. rinominare la colonna NOC in “Name”

In [ ]:
coaches = coaches.rename(columns={'NOC':'Name'})
coaches

                           Name         Discipline
0                         Egypt           Football
1                         Japan         Volleyball
2                         Japan         Basketball
3                 Côte d'Ivoire           Football
4                         Japan         Volleyball
..                          ...                ...
389                       Spain         Basketball
390               Liechtenstein  Artistic Swimming
391  People's Republic of China  Artistic Swimming
392                 Netherlands             Hockey
393                South Africa             Hockey

[394 rows x 2 columns]