In [1]:
!pip install xlrd==1.2.0

Collecting xlrd==1.2.0
  Downloading xlrd-1.2.0-py2.py3-none-any.whl (103 kB)
     |████████████████████████████████| 103 kB 10.8 MB/s
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 1.1.0
    Uninstalling xlrd-1.1.0:
      Successfully uninstalled xlrd-1.1.0
Successfully installed xlrd-1.2.0

In [3]:
%matplotlib inline
!pip install geopandas
import pandas as pd
import geopandas
import xlrd
import matplotlib.pyplot  as plt
import numpy as np

Collecting geopandas
  Downloading geopandas-0.10.2-py2.py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 7.5 MB/s
Collecting fiona>=1.8
  Downloading Fiona-1.8.21-cp37-cp37m-manylinux2014_x86_64.whl (16.7 MB)
     |████████████████████████████████| 16.7 MB 355 kB/s
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 33.7 MB/s
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.3.5)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.0)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.10.8)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.4.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2018.9)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.21.5)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.21 geopandas-0.10.2 munch-2.5.0 pyproj-3.2.1

In [7]:
categorie = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/BikeStores.xls',sheet_name ='categories')
categorie

   category_id        category_name
0            1    Children Bicycles
1            2     Comfort Bicycles
2            3    Cruisers Bicycles
3            4  Cyclocross Bicycles
4            5       Electric Bikes
5            6       Mountain Bikes
6            7           Road Bikes

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
brand = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/BikeStores.xls',sheet_name ='brands')
brand

   brand_id    brand_name
0         1       Electra
1         2          Haro
2         3        Heller
3         4   Pure Cycles
4         5       Ritchey
5         6       Strider
6         7  Sun Bicycles
7         8         Surly
8         9          Trek

In [9]:
prodotti = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/BikeStores.xls',sheet_name ='products')
prodotti

     product_id                          product_name  ...  model_year  list_price
0             1                       Trek 820 - 2016  ...        2016      379.99
1             2    Ritchey Timberwolf Frameset - 2016  ...        2016      749.99
2             3       Surly Wednesday Frameset - 2016  ...        2016      999.99
3             4              Trek Fuel EX 8 29 - 2016  ...        2016     2899.99
4             5          Heller Shagamaw Frame - 2016  ...        2016     1320.99
..          ...                                   ...  ...         ...         ...
316         317          Trek Checkpoint ALR 5 - 2019  ...        2019     1999.99
317         318  Trek Checkpoint ALR 5 Women's - 2019  ...        2019     1999.99
318         319   Trek Checkpoint SL 5 Women's - 2019  ...        2019     2799.99
319         320           Trek Checkpoint SL 6 - 2019  ...        2019     3799.99
320         321   Trek Checkpoint ALR Frameset - 2019  ...        2019     3199.99

[321 rows x 6 columns]

In [19]:
#1. il catalogo complessivo dei prodotti. Visualizzare il nome del prodotto, il nome della marca e la categoria
products_brands = pd.merge(prodotti,brand,how='inner',on ='brand_id')
total_df = pd.merge(products_brands,categorie,how='inner',on ='category_id')
pd.merge(products_brands,categorie,how='inner',on='category_id')[['product_name','brand_name','category_name']]

                                product_name    brand_name     category_name
0                            Trek 820 - 2016          Trek    Mountain Bikes
1                   Trek Fuel EX 8 29 - 2016          Trek    Mountain Bikes
2                   Trek Slash 8 27.5 - 2016          Trek    Mountain Bikes
3      Trek Remedy 29 Carbon Frameset - 2016          Trek    Mountain Bikes
4                    Trek X-Caliber 8 - 2017          Trek    Mountain Bikes
..                                       ...           ...               ...
316               Sun Bicycles Cruz 7 - 2017  Sun Bicycles  Comfort Bicycles
317     Sun Bicycles Cruz 3 - Women's - 2017  Sun Bicycles  Comfort Bicycles
318     Sun Bicycles Cruz 7 - Women's - 2017  Sun Bicycles  Comfort Bicycles
319            Sun Bicycles Drifter 7 - 2017  Sun Bicycles  Comfort Bicycles
320  Sun Bicycles Drifter 7 - Women's - 2017  Sun Bicycles  Comfort Bicycles

[321 rows x 3 columns]

In [20]:
#2. il numero di prodotti per ogni categoria. Visualizzare i nomi delle categorie e il numero dei prodotti.
num_prodotti = pd.merge(prodotti,categorie,how='inner',on='category_id').groupby('category_name')['category_name'].count().sort_values()
num_prodotti

category_name
Cyclocross Bicycles    10
Electric Bikes         24
Comfort Bicycles       30
Children Bicycles      59
Mountain Bikes         60
Road Bikes             60
Cruisers Bicycles      78
Name: category_name, dtype: int64

In [21]:
#3. il numero di prodotti per ogni marca (brand). Visualizzare i nomi dei brand e il numero di prodotti
num_prodotti_marca = pd.merge(prodotti,brand,how='inner',on='brand_id').groupby('brand_name')['product_name'].count().sort_values()
num_prodotti_marca

brand_name
Ritchey           1
Heller            3
Pure Cycles       3
Strider           3
Haro             10
Sun Bicycles     23
Surly            25
Electra         118
Trek            135
Name: product_name, dtype: int64

In [22]:
#4. i nomi dei prodotti della marca Trek
products_brands[products_brands.brand_name =='Trek']['product_name']

0                            Trek 820 - 2016
1                   Trek Fuel EX 8 29 - 2016
2                   Trek Slash 8 27.5 - 2016
3      Trek Remedy 29 Carbon Frameset - 2016
4                       Trek Conduit+ - 2016
                       ...
130             Trek Checkpoint ALR 5 - 2019
131     Trek Checkpoint ALR 5 Women's - 2019
132      Trek Checkpoint SL 5 Women's - 2019
133              Trek Checkpoint SL 6 - 2019
134      Trek Checkpoint ALR Frameset - 2019
Name: product_name, Length: 135, dtype: object

In [23]:
#5. i prodotti delle categorie che hanno la parola 'Bikes' nel nome
total_df[total_df.category_name.str.contains('Bikes')][['category_name','product_name']]

      category_name                           product_name
0    Mountain Bikes                        Trek 820 - 2016
1    Mountain Bikes               Trek Fuel EX 8 29 - 2016
2    Mountain Bikes               Trek Slash 8 27.5 - 2016
3    Mountain Bikes  Trek Remedy 29 Carbon Frameset - 2016
4    Mountain Bikes                Trek X-Caliber 8 - 2017
..              ...                                    ...
139      Road Bikes                       Surly ECR - 2018
140      Road Bikes                  Surly Pack Rat - 2018
141      Road Bikes            Surly Straggler 650b - 2018
142      Road Bikes              Surly ECR Frameset - 2018
143      Road Bikes                 Surly Straggler - 2018

[144 rows x 2 columns]

In [24]:
#6. la categoria che ha il prodotto che costa di più
total_df[total_df.list_price == total_df.list_price.max()][['category_name','product_name','list_price']]

    category_name                   product_name  list_price
106    Road Bikes  Trek Domane SLR 9 Disc - 2018    11999.99

In [25]:
#7. i brand con almeno 100 prodotti. Viaulizzare il nome del brand e il numero di prodotti
numprod_x_brand = total_df.groupby('brand_name').count().reset_index()[['brand_name','product_name']]
numprod_x_brand2 =numprod_x_brand[numprod_x_brand['product_name']>= 100]
numprod_x_brand2

  brand_name  product_name
0    Electra           118
8       Trek           135

In [26]:
#8. la marca del prodotto 'Electra Townie Original 21D - 2016'
total_df[total_df.product_name =='Electra Townie Original 21D - 2016' ][['brand_name']]

    brand_name
213    Electra
291    Electra

In [27]:
#9. il numero di prodotti per ogni anno. Visualizzare l'anno e il numero di prodotti
num_prod_year = total_df.groupby('model_year')[['product_name']].count()
num_prod_year

            product_name
model_year
2016                  26
2017                  85
2018                 204
2019                   6