In [ ]:
!pip install xlrd==1.2.0

Collecting xlrd==1.2.0
  Downloading xlrd-1.2.0-py2.py3-none-any.whl (103 kB)
     |████████████████████████████████| 103 kB 5.3 MB/s
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 1.1.0
    Uninstalling xlrd-1.1.0:
      Successfully uninstalled xlrd-1.1.0
Successfully installed xlrd-1.2.0

In [ ]:
import pandas as pd
import xlrd

In [ ]:
categorie = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/BikeStores (1).xls',sheet_name ='categories')
categorie

   category_id        category_name
0            1    Children Bicycles
1            2     Comfort Bicycles
2            3    Cruisers Bicycles
3            4  Cyclocross Bicycles
4            5       Electric Bikes
5            6       Mountain Bikes
6            7           Road Bikes

In [ ]:
brand = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/BikeStores (1).xls',sheet_name ='brands')
brand

   brand_id    brand_name
0         1       Electra
1         2          Haro
2         3        Heller
3         4   Pure Cycles
4         5       Ritchey
5         6       Strider
6         7  Sun Bicycles
7         8         Surly
8         9          Trek

In [ ]:
prodotti = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/BikeStores (1).xls',sheet_name ='products')
prodotti

     product_id                          product_name  ...  model_year  list_price
0             1                       Trek 820 - 2016  ...      2016.0      379.99
1             2    Ritchey Timberwolf Frameset - 2016  ...      2016.0      749.99
2             3       Surly Wednesday Frameset - 2016  ...      2016.0      999.99
3             4              Trek Fuel EX 8 29 - 2016  ...      2016.0     2899.99
4             5          Heller Shagamaw Frame - 2016  ...      2016.0     1320.99
..          ...                                   ...  ...         ...         ...
316         317          Trek Checkpoint ALR 5 - 2019  ...      2019.0     1999.99
317         318  Trek Checkpoint ALR 5 Women's - 2019  ...      2019.0     1999.99
318         319   Trek Checkpoint SL 5 Women's - 2019  ...      2019.0     2799.99
319         320           Trek Checkpoint SL 6 - 2019  ...      2019.0     3799.99
320         321   Trek Checkpoint ALR Frameset - 2019  ...      2019.0     3199.99

[321 rows x 6 columns]

In [ ]:
#1. il catalogo complessivo dei prodotti. Visualizzare il nome del prodotto, il nome della marca e la categoria
products_brands = pd.merge(prodotti,brand,how='inner',on ='brand_id')
product_brands = pd.merge(products_brands,categorie,how='inner',on='category_id')[['product_name','brand_name','category_name','list_price']]
product_brands

                                product_name  ... list_price
0                            Trek 820 - 2016  ...     379.99
1                   Trek Fuel EX 8 29 - 2016  ...    2899.99
2                   Trek Slash 8 27.5 - 2016  ...    3999.99
3      Trek Remedy 29 Carbon Frameset - 2016  ...    1799.99
4                    Trek X-Caliber 8 - 2017  ...     999.99
..                                       ...  ...        ...
316               Sun Bicycles Cruz 7 - 2017  ...     416.99
317     Sun Bicycles Cruz 3 - Women's - 2017  ...     449.99
318     Sun Bicycles Cruz 7 - Women's - 2017  ...     416.99
319            Sun Bicycles Drifter 7 - 2017  ...     470.99
320  Sun Bicycles Drifter 7 - Women's - 2017  ...     470.99

[321 rows x 4 columns]

In [ ]:
#2. il numero di prodotti per ogni categoria. Visualizzare i nomi delle categorie e il numero dei prodotti.
product_brands.groupby('category_name')['product_name'].count().sort_values(ascending=False)

category_name
Cruisers Bicycles      78
Mountain Bikes         60
Road Bikes             60
Children Bicycles      59
Comfort Bicycles       30
Electric Bikes         24
Cyclocross Bicycles    10
Name: product_name, dtype: int64

In [ ]:
#3. il numero di prodotti per ogni marca (brand). Visualizzare i nomi dei brand e il numero di prodotti
product_brands.groupby('brand_name')['product_name'].count().sort_values(ascending=False)

brand_name
Trek            135
Electra         118
Surly            25
Sun Bicycles     23
Haro             10
Heller            3
Pure Cycles       3
Strider           3
Ritchey           1
Name: product_name, dtype: int64

In [ ]:
#4. i nomi dei prodotti della marca Trek
product_brands[product_brands.brand_name=='Trek']['product_name']

0                                 Trek 820 - 2016
1                        Trek Fuel EX 8 29 - 2016
2                        Trek Slash 8 27.5 - 2016
3           Trek Remedy 29 Carbon Frameset - 2016
4                         Trek X-Caliber 8 - 2017
                          ...
172    Trek Precaliber 24 (7-Speed) - Boys - 2018
173      Trek Precaliber 24 21-speed Boy's - 2018
174     Trek Precaliber 24 21-speed Girl's - 2018
175      Trek Precaliber 24 7-speed Girl's - 2018
176                  Trek Superfly 24 - 2017/2018
Name: product_name, Length: 135, dtype: object

In [ ]:
#5. i prodotti delle categorie che hanno la parola 'Bikes' nel nome
product_brands[product_brands.category_name.str.contains('Bikes')]['product_name']

0                            Trek 820 - 2016
1                   Trek Fuel EX 8 29 - 2016
2                   Trek Slash 8 27.5 - 2016
3      Trek Remedy 29 Carbon Frameset - 2016
4                    Trek X-Caliber 8 - 2017
                       ...
139                         Surly ECR - 2018
140                    Surly Pack Rat - 2018
141              Surly Straggler 650b - 2018
142                Surly ECR Frameset - 2018
143                   Surly Straggler - 2018
Name: product_name, Length: 144, dtype: object

In [ ]:
product_brands['list_price'] = product_brands['list_price'].astype(float)

In [ ]:
#6. la categoria che ha il prodotto che costa di più
product_brands[product_brands.list_price==product_brands.list_price.max()]['category_name']

106    Road Bikes
Name: category_name, dtype: object